<div class="container text-center">
  
  <div class="row">
    <div class="col-xs-12">
      
      <!-- Carousel -->
      <div id="drinksCarousel" class="carousel slide" data-ride="carousel" data-carousel>
        
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item" data-ng-class="{active: $index == '0'}" data-carousel-item="$index" data-ng-repeat="drink in drinks">
            <!-- Item -->
            
            <a href="#/intro_app" class="ly_create_party_back">
              <img data-ng-src="assets/images/{{images.size}}/btn_{{drink.image}}_{{images.size}}.png" />
            </a>
            
            <div class="ly_create_party_drink_title">
              <img data-ng-src="assets/images/{{images.size}}/title_create_{{drink.image}}_{{images.size}}.png"/>
            </div>
            
            <div class="row">
              <div class="col-xs-12">
                <img data-ng-src="assets/images/{{images.size}}/cocktail_block_{{drink.image}}_{{images.size}}.png"/>
              </div>
            </div>
            
            <button type="button" class="ly_create_party_drink_add" data-ng-click="addDrink($index)">
              <img data-ng-src="assets/images/{{images.size}}/btn_add_cocktail_{{images.size}}.png"/>
            </button>
            
            <!--/ Item -->
          </div>
        </div>
        
        <!-- Controls -->
        <a class="carousel-control left ly_create_party_arrow" data-carousel-control="prev">
          <img data-ng-src="assets/images/{{images.size}}/arrow_l_{{images.size}}.png"/>
        </a>
        <a class="carousel-control right ly_create_party_arrow" data-carousel-control="next">
          <img data-ng-src="assets/images/{{images.size}}/arrow_r_{{images.size}}.png"/>
        </a>
        
      </div>
      <!--/ Carousel -->
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      
      <table class="ly_create_party_table">
        
        <!--
        <tr class="row">
          <td class="col-xs-12 ly_create_party_ver" colspan="2">
            <a href="#/ver_recetario">
              <span>Ver recetario</span>
            </a>
          </td>
        </tr>
        -->
        
        <tr class="row">
          <td class="col-xs-6 ly_create_party_qty">
            <span>{{party.drinks.length}}</span>
            <span>coct&eacute;les</span>
          </td>
          <td class="col-xs-6 ly_create_party_check">
            <a href="#/check_fiesta">
              <span>Mirar selecci&oacute;n</span>
            </a>
          </td>
        </tr>
        
        <tr class="row">
          <td class="col-xs-12 ly_create_party_go" colspan="2">
            <a href="#/go_fiesta">
              <span>Ir al evento</span>
            </a>
          </td>
        </tr>
        
      </table>
      
    </div>
  </div>
  
</div>