<div class="container">
  <div class="row ly_party_header margin_top_42">
    <div class="col-xs-12 text-center">
      <img data-ng-src="assets/images/{{images.size}}/logo_sm_{{images.size}}.png" />
    </div>
  </div>
  
  <div class="row">
  	<div class="col-xs-12 text-center ly_party_title">
      <img data-ng-src="assets/images/{{images.size}}/menu_events_{{images.size}}.png" />
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      
      <table class="ly_party_table">
        <thead>
          <tr class="row">
            <td class="col-xs-12 ly_party_name" colspan="2">{{party.name}}</td>
          </tr>
        </thead>
        
        <tfoot>
          <tr class="row">
            <td class="col-xs-12 ly_party_back" colspan="2">
              <a href="#/mis_fiestas">
                <span class="icon icon-arrow-left"></span>
                <span>Vuelve a tus eventos</span>
              </a>
            </td>
          </tr>
        </tfoot>
        
        <tbody data-ng-repeat="ingredientGroup in ingredientGroups">
          <tr class="row">
            <td class="col-xs-10 ly_party_ingredient_name">{{ingredientGroup.ingredient.Ingredient.name}}</td>
            <td class="col-xs-2 ly_party_ingredient_units">{{ingredientGroup.unitsNeeded}}</td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
  
</div>