<div class="container">
  <div class="ly4_back">
    <span>Atr&aacute;s</span>
  </div>
  
  <div class="row">
    <div class="col-xs-12 ly_message">
      <div>OK</div>
      <p>ahora a disfrutar y recuerda tomar con responsabilidad.</p>
    </div>
  </div>
  
  <div class="row">
  	<div class="col-xs-12">
      <a href="#/mis_fiestas">Mis eventos</a>
    </div>
  </div>
  
  <div class="row">
  	<div class="col-xs-12">
      <a href="#/ver_recetario">Ver recetario</a>
    </div>
  </div>
  
</div>