<div class="container centered_view">
  
  <div class="logo_header_sm">
    <img data-ng-src="assets/images/{{images.size}}/logo_sm_{{images.size}}.png" />
  </div>
  
  <div class="ly_party_send_message">
    <div class="ly_party_send_ok">OK</div>
    <p>ahora a disfrutar y recuerda tomar con responsabilidad.</p>
  </div>
  
  <div class="ly_party_send_button">
    <a href="#/mis_fiestas">
      <img data-ng-src="assets/images/{{images.size}}/menu_events_{{images.size}}.png" alt=""/>
    </a>
  </div>
  
  <div class="ly_party_send_button">
    <a href="#/ver_recetario">
      <img data-ng-src="assets/images/{{images.size}}/menu_recipes_{{images.size}}.png"/>
    </a>
  </div>
  
</div>