<div class="container centered_view">
  <div class="logo_header_lg">
    <img data-ng-src="assets/images/{{images.size}}/logo_sm_{{images.size}}.png"/>
  </div>
  
  <div class="ly_intro_message">
    <img data-ng-src="assets/images/{{images.size}}/title_welcome_{{images.size}}.png" />
  </div>
  
  <div data-ng-click="login()" style="height: 50px;">
    <span>CLICK ME</span>
  </div>
  
  <div>
    <span>STATUS</span>
    <span>{{status | json}}</span>
  </div>
  
  <div class="ly_intro_button">
    <a href="" data-ng-click="buildParty()">
      <img data-ng-src="assets/images/{{images.size}}/menu_events_create_{{images.size}}.png"/>
    </a>
  </div>
  
  <div class="ly_intro_button">
    <a href="#/mis_fiestas">
      <img data-ng-src="assets/images/{{images.size}}/menu_events_{{images.size}}.png"/>
    </a>
  </div>
  
  <div class="ly_intro_button">
    <a href="#/ver_recetario">
      <img data-ng-src="assets/images/{{images.size}}/menu_recipes_{{images.size}}.png"/>
    </a>
  </div>
  
  <div class="ly_intro_responsable">
    <p>Beba con responsabilidad</p>
  </div>
  
</div>