<div class="container text-center">
  <div class="ly_intro_header row margin_top_42">
    <div class="col-xs-12 text-center">
      <img data-ng-src="assets/images/{{images.size}}/logo_sm_{{images.size}}.png"/>
    </div>
  </div>
  
  <div class="ly_intro_message row">
    <div class="col-xs-12">
      <img data-ng-src="assets/images/{{images.size}}/title_welcome_{{images.size}}.png" />
    </div>
  </div>
  
  <div class="ly_intro_button row">
    <div class="col-xs-12">
      <a href="" data-ng-click="buildParty()">
        <img data-ng-src="assets/images/{{images.size}}/menu_events_create_{{images.size}}.png"/>
      </a>
    </div>
  </div>
  
  <div class="ly_intro_button row">
    <div class="col-xs-12">
      <a href="#/mis_fiestas">
        <img data-ng-src="assets/images/{{images.size}}/menu_events_{{images.size}}.png"/>
      </a>
    </div>
  </div>
  
  <div class="ly_intro_button row">
    <div class="col-xs-12">
      <a href="#/ver_recetario">
        <img data-ng-src="assets/images/{{images.size}}/menu_recipes_{{images.size}}.png"/>
      </a>
    </div>
  </div>
  
  <!--
  <div class="row">
  	<div class="col-xs-12">
      <p>Beba con responsabilidad</p>
    </div>
  </div>
  -->
  
</div>