<div class="container">
  <div class="ly1_header row">
    <div class="col-xs-12 ly1_logo">
      Watts | Stoli
    </div>
  </div>
  
  <div class="ly1_message row">
    <div class="col-xs-12">
      MENSAJE DE BIENVENIDA
    </div>
  </div>
  
  <div class="ly1_buttons row">
    <div class="col-xs-12">
      <a href="" data-ng-click="buildParty()">Arma tu evento</a>
    </div>
  </div>
  
  <div class="ly1_buttons row">
    <div class="col-xs-12">
      <a href="#/mis_fiestas">Mis eventos</a>
    </div>
  </div>
  
  <div class="ly1_buttons row">
    <div class="col-xs-12">
      <a href="#/recetario">Ver recetario</a>
    </div>
  </div>
  
  <div class="row">
  	<div class="col-xs-12">
      <p>Beba con responsabilidad</p>
    </div>
  </div>
  
</div>