<div class="container centered_view">
  
  <div class="logo_header_sm">
    <a href="#/intro_app">
      <img data-ng-src="assets/images/{{images.size}}/logo_sm_{{images.size}}.png" />
    </a>
  </div>
  
  <div class="ly_parties_title">
    <img data-ng-src="assets/images/{{images.size}}/titulo_mis_eventos_{{images.size}}.png" />
  </div>
  
  <div>
    <table class="ly_parties_table">
      <tbody data-ng-repeat="party in parties" class="ly_parties_party" data-ng-click="goToParty(party.id)">
        <tr>
          <td class="ly_parties_name" data-ng-class="{even: $even}">
            <span>{{party.name | uppercase}}</span>
          </td>
          
          <td class="ly_parties_go" data-ng-class="{even: $even}">
            <span class="icon icon-arrow-right"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="ly_parties_back">
    <a href="#/intro_app">
      <img data-ng-src="assets/images/{{images.size}}/btn_back_white_{{images.size}}.png"/>
    </a>
  </div>
  
</div>