<div class="container centered_view">
  
  <div class="logo_header_lg">
    <img data-ng-src="assets/images/{{images.size}}/logo_lg_{{images.size}}.png" />
  </div>
  
  <div class="ly_age_validate_message">
    <span>PONGA SU FECHA DE NACIMIENTO</span>
  </div>
  
  <div class="ly_age_validate_form">
      <form data-ng-submit="submitForm()">
        <div class="form-group">
          <input type="date" data-ng-model="age" min="1913" class="ly_age_validate_age form-control" data-ng-change="validateAge()" />
        </div>
        
        <div class="form-group">
          <input type="checkbox" data-ng-model="agreeWithTerms" id="agreeWithTerms" class="hidden" />
          <label for="agreeWithTerms" class="ly_age_validate_box_label" data-toggle-checbox>
            <span class="ly_age_validate_age_cb_box"></span>
            <span class="ly_age_validate_age_cb_title">Concuerdo con los t&eacute;rminos de uso de esta aplicaci&oacute;n</span>
          </label>
        </div>
        
        <div class="form-group">
            <label for="rememberMe" class="ly_age_validate_box_label" data-toggle-checbox>
              <span class="ly_age_validate_age_cb_box"></span>
              <span class="ly_age_validate_age_cb_title remember">Recordar mi selecci&oacute;n</span>
            </label>
            <input id="rememberMe" type="checkbox" data-ng-model="rememberMe" class="hidden" />
        </div>
        
        <div class="form-group">
          <button type="submit" class="ly_age_validate_submit">
            <img data-ng-src="assets/images/{{images.size}}/btn_entrar_{{images.size}}.png" />
          </button>
        </div>
      </form>
      
    </div>
  </div>
  
</div>