<div class="container text-center">
  <a href="#/intro_app" class="ly_recipes_back">
    <img data-ng-src="assets/images/{{images.size}}/btn_back_gray_{{images.size}}.png" />
  </a>
  
  <div class="ly_recipes_header row margin_top_42">
  	<div class="col-xs-12">
      <img data-ng-src="assets/images/{{images.size}}/logo_sm_{{images.size}}.png" />
    </div>
  </div>
  
  <div class="row">
  	<div class="col-xs-12">
      <h2>FALTA TITLE: LOS COCTELES</h2>
    </div>
  </div>
  
  <div class="row">
  	<div class="col-xs-12">
      <ul class="list-unstyled">
        <li class="ly_recipes_button">
          <a href="#/ver_receta/2">
            <img data-ng-src="assets/images/{{images.size}}/menu_thai_lemonade_{{images.size}}"/>
          </a>
        </li>
        <li class="ly_recipes_button">
          <a href="#/ver_receta/1">
            <img data-ng-src="assets/images/{{images.size}}/menu_guanaja_paradise_{{images.size}}"/>
          </a>
        </li>
        <li class="ly_recipes_button">
          <a href="#/ver_receta/4">
            <img data-ng-src="assets/images/{{images.size}}/menu_yellow_bahia_{{images.size}}"/>
          </a>
        </li>
        <li class="ly_recipes_button">
          <a href="#/ver_receta/3">
            <img data-ng-src="assets/images/{{images.size}}/menu_greco_ras_{{images.size}}"/>
          </a>
        </li>
        <li class="ly_recipes_button">
          <a href="#/ver_receta/5">
            <img data-ng-src="assets/images/{{images.size}}/menu_sakau_mandarin_{{images.size}}"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="row">
  	<div class="col-xs-12 ly_recipes_button">
      <h2>FALTA TITLE: EL AUTOR</h2>
    </div>
  </div>
  
  <div class="row">
  	<div class="col-xs-12 ly_recipes_button">
      <a href="#/author">
        <img data-ng-src="assets/images/{{images.size}}/btn_author_name_{{images.size}}.png"/>
      </a>
    </div>
  </div>
  
</div>