<div class="container">
  
  <div class="row">
  	<div class="col-xs-12">
      Watts | Stoli
    </div>
  </div>
  
  <div class="row">
  	<div class="col-xs-12">
      LOS C&Oacute;CTELES
    </div>
  </div>
  
  <div class="row">
  	<div class="col-xs-12">
      <ul>
        <li>
          <a href="#/ver_receta/1">
            <span>THAI LEMONADE</span>
          </a>
        </li>
        <li>
          <a href="#/ver_receta/2">
            <span>GUANAJA PARADISE</span>
          </a>
        </li>
        <li>
          <a href="#/ver_receta/3">
            <span>YELLOW BAH&Iacute;A</span>
          </a>
        </li>
        <li>
          <a href="#/ver_receta/4">
            <span>GRECO RAS</span>
          </a>
        </li>
        <li>
          <a href="#/ver_receta/5">
            <span>SAKAU MANDAR&Iacute;N</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="row">
  	<div class="col-xs-12">
      <span>EL AUTOR</span>
    </div>
  </div>
  
  <div class="row">
  	<div class="col-xs-12">
      <a href="#/author">
        <span>Sebati&aacute;n Donoso</span>
      </a>
    </div>
  </div>
  
</div>