<div class="container centered_view">
  <a href="#/intro_app" class="ly_top_back">
    <img data-ng-src="assets/images/{{images.size}}/btn_back_gray_{{images.size}}.png" />
  </a>
  
  <div class="logo_header_lg">
    <a href="#/intro_app">
      <img data-ng-src="assets/images/{{images.size}}/logo_lg_{{images.size}}.png"/>
    </a>
  </div>
  
  <div class="ly_recipes_title">
    <img data-ng-src="assets/images/{{images.size}}/titulo_los_cocteles_{{images.size}}.png"/>
  </div>
  
  <div>
    <ul class="list_unstyled">
      <li class="ly_recipes_button">
        <a href="#/ver_receta/2">
          <img data-ng-src="assets/images/{{images.size}}/menu_thai_lemonade_{{images.size}}.png"/>
        </a>
      </li>
      <li class="ly_recipes_button">
        <a href="#/ver_receta/1">
          <img data-ng-src="assets/images/{{images.size}}/menu_guanaja_paradise_{{images.size}}.png"/>
        </a>
      </li>
      <li class="ly_recipes_button">
        <a href="#/ver_receta/4">
          <img data-ng-src="assets/images/{{images.size}}/menu_yellow_bahia_{{images.size}}.png"/>
        </a>
      </li>
      <li class="ly_recipes_button">
        <a href="#/ver_receta/3">
          <img data-ng-src="assets/images/{{images.size}}/menu_greco_ras_{{images.size}}.png"/>
        </a>
      </li>
      <li class="ly_recipes_button">
        <a href="#/ver_receta/5">
          <img data-ng-src="assets/images/{{images.size}}/menu_sakau_mandarin_{{images.size}}.png"/>
        </a>
      </li>
    </ul>
  </div>
  
  <div class="ly_recipes_title">
    <img data-ng-src="assets/images/{{images.size}}/titulo_el_autor_{{images.size}}.png"/>
  </div>
  
  <div class="ly_recipes_title">
    <a href="#/author">
      <img data-ng-src="assets/images/{{images.size}}/btn_author_name_{{images.size}}.png"/>
    </a>
  </div>
  
</div>