<div class="container ly_recipe_container">
  <div class="row">
    <div class="col-xs-12 ly_recipe_name">
      <a href="#/ver_recetario">
        <img data-ng-src="assets/images/{{images.size}}/title_{{recipe.name}}_{{images.size}}.png" />
      </a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-8 center-block ly_recipe_description">
        <h3>Ingredientes:</h3>
        <p>
        Lim&oacute;n, vodka Stolichnaya y N&eacute;ctar Watt's selecci&oacute;n sabor Frambuesa.
        </p>
        <h3>Presentaci&oacute;n:</h3>
        <p>
        Macerar 30 gramos de lim&oacute;n en un vaso largo.
        Agregar 30 ml de vodka Stolichnaya.
        Rellenar con N&eacute;ctar Watt's selecci&oacute;n Frambuesa.
        </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 ly_recipe_bottom">
      <a data-ng-href="#" class="ly_recipe_fb_share" data-facebook-share data-title="Title" data-summary="Summary" data-image="http://image.com" data-url="http://url.com">
        <img data-ng-src="assets/images/{{images.size}}/btn_facebook_share_{{images.size}}.png" />
      </a>
      <img class="ly_recipe_juice" data-ng-src="assets/images/{{images.size}}/juice_{{recipe.juice}}_{{recipe.name}}_{{images.size}}.png" />
      <img class="ly_recipe_drink" data-ng-src="assets/images/{{images.size}}/cocktail_{{recipe.name}}_{{images.size}}.png"/>
    </div>
  </div>
  
</div>