<div class="container">
  <a href="#/ver_recetario" class="ly5_back">
    <span>Atr&aacute;s</span>
  </a>
  
  <div class="row">
    <div class="col-xs-12 ly5_name">
      <span>GREGO RAS</span>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
        <h3>Ingredientes:</h3>
        <p>
        Lim&oacute;n, vodka Stolichnaya y N&eacute;ctar Watt's selecci&oacute;n sabor Frambuesa.
        </p>
        <h3>Presentaci&oacute;n:</h3>
        <p>
        Macerar 30 gramos de lim&oacute;n en un vaso largo.
        Agregar 30 ml de vodka Stolichnaya.
        Rellenar con N&eacute;ctar Watt's selecci&oacute;n Frambuesa.
        </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <a data-ng-href="#">
        <span>Compartir en facebook</span>
      </a>
      <img data-ng-src="assets/images/fgreco.png"/>
    </div>
  </div>
  
</div>