<div class="container">
  <a href="#/ver_recetario" class="ly5_back">
    <span>Atr&aacute;s</span>
  </a>
  
  <div class="row">
    <div class="col-xs-12 ly5_name">
      <span>GUANAJA PARADISE</span>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
        <h3>Ingredientes:</h3>
        <p>
        Pepino, vodka Stolichnaya Blueberi
        y jugo Watt's sabor limonada.
        </p>
        <h3>Presentaci&oacute;n:</h3>
        <p>
        Verter 3 rodajas de pepino en un vaso largo.
        Agregar 30ml de vodka Stolichnaya.
        Rellenar con jugo Watt's sabor limonada.
        </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <a data-ng-href="#">
        <span>Compartir en facebook</span>
      </a>
      <img data-ng-src="assets/images/fguanaja.png"/>
    </div>
  </div>
  
</div>