<div class="container ly_recipe_container">
  <a href="#/ver_recetario" class="ly_recipe_back" data-ng-click="goBack()">
    <img data-ng-src="assets/images/{{images.size}}/btn_{{recipe.name}}_{{images.size}}.png" />
  </a>
  
  <div class="row">
    <div class="col-xs-12 ly_recipe_name">
      <img data-ng-src="assets/images/{{images.size}}/title_{{recipe.name}}_{{images.size}}.png" />
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-8 center-block ly_recipe_description">
        <h3>Ingredientes:</h3>
        <p>
        Pepino, vodka Stolichnaya Blueberi
        y jugo Watt's sabor limonada.
        </p>
        <h3>Presentaci&oacute;n:</h3>
        <p>
        Verter 3 rodajas de pepino en un vaso largo.
        Agregar 30ml de vodka Stolichnaya.
        Rellenar con jugo Watt's sabor limonada.
        </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 ly_recipe_bottom">
      <a data-ng-href="#" class="ly_recipe_fb_share" data-facebook-share data-title="Title" data-summary="Summary" data-image="http://image.com" data-url="http://url.com">
        <img data-ng-src="assets/images/{{images.size}}/btn_facebook_share_{{images.size}}.png" />
      </a>
      <img class="ly_recipe_juice" data-ng-src="assets/images/{{images.size}}/juice_{{recipe.juice}}_{{recipe.name}}_{{images.size}}.png" />
      <img class="ly_recipe_drink" data-ng-src="assets/images/{{images.size}}/cocktail_{{recipe.name}}_{{images.size}}.png"/>
    </div>
  </div>
  
</div>