<div class="container centered_view">
  
  <div class="ly_recipe_name">
    <a href="#/ver_recetario">
      <img data-ng-src="assets/images/{{images.size}}/title_{{recipe.name}}_{{images.size}}.png" />
    </a>
  </div>
  
  <div class="ly_recipe_description">
    <h3>Ingredientes:</h3>
    <p>
    Kiwi, vodka Stolichnaya Razberi y N&eacute;ctar Watt's selecci&oacute;n sabor Mandarina.
    </p>
    <h3>Presentaci&oacute;n:</h3>
    <p>
    Macerar 4 rodajas de kiwi en un vaso largo.
    Verter 4 trozos de kiwi.
    Agregar 30ml de vodka Stolichnaya Razberi.
    Rellenar con jugo Watt's sabor Mandarina.
    </p>
  </div>
  
  <div class="ly_recipe_bottom">
    <a class="ly_recipe_share" target="_blank" data-ng-href="#" class="ly_recipe_fb_share" data-facebook-share data-title="Un frío vaso de Sakau Mandarin" data-summary="Baja la intensa temperatura de este día con la mezcla más exquisita del mejor Vodka Razberi de Stoli y el delicioso néctar de mandarinas Watts? Entérate de la receta aquí en www.unamezcladeselección.cl y descarga la mejor aplicación para refrescar este verano." data-image="http://ssl.nsclick.cl/wattsstoli/assets/sakau_mandarin_facebook.png" data-url="http://unamezcladeseleccion.cl/">
      <img data-ng-src="assets/images/{{images.size}}/btn_facebook_share_{{images.size}}.png" />
    </a>
    <img class="ly_recipe_juice" data-ng-src="assets/images/{{images.size}}/juice_{{recipe.juice}}_{{recipe.name}}_{{images.size}}.png" />
    <img class="ly_recipe_drink" data-ng-src="assets/images/{{images.size}}/cocktail_{{recipe.name}}_{{images.size}}.png"/>
  </div>
  
</div>