<div class="container centered_view">
  
  <div class="ly_recipe_name">
    <a href="#/ver_recetario">
      <img data-ng-src="assets/images/{{images.size}}/title_{{recipe.name}}_{{images.size}}.png" />
    </a>
  </div>
  
  <div class="ly_recipe_description">
    <h3>Ingredientes:</h3>
    <p>
      Frutillas, ar&aacute;ndanos, vodka
      Stolichnaya y N&eacute;ctar Watt's
      Selecci&oacute;n sabor Guayaba.
    </p>
    <h3>Preparaci&oacute;n</h3>
    <p>
      Macerar 30 gramos de frutilla
      en un vaso largo.
      Verter algunos ar&aacute;ndanos.
      Agregar 30ml de vodka Stolichnaya.
      Rellenar con N&eacute;ctar Watt's
      Selecci&oacute;n sabor Guayaba.
    </p>
  </div>
  
  <div class="ly_recipe_bottom">
    <a class="ly_recipe_share" target="_blank" data-ng-href="#" class="ly_recipe_fb_share" data-facebook-share data-title="El refrescante sabor de Guanaja Paradise" data-summary="¿Sabes qué pasa si mezclamos el mejor Vodka Stoli y el refrescante néctar de guayaba Watts? Entérate aquí en www.unamezcladeselección.cl y descarga la mejor aplicación para refrescar este verano." data-image="http://ssl.nsclick.cl/wattsstoli/assets/greco_ras_facebook.png" data-url="http://unamezcladeseleccion.cl/">
      <img data-ng-src="assets/images/{{images.size}}/btn_facebook_share_{{images.size}}.png" />
    </a>
    <img class="ly_recipe_juice" data-ng-src="assets/images/{{images.size}}/juice_{{recipe.juice}}_{{recipe.name}}_{{images.size}}.png" />
    <img class="ly_recipe_drink" data-ng-src="assets/images/{{images.size}}/cocktail_{{recipe.name}}_{{images.size}}.png"/>
  </div>
  
</div>