<div class="container">
  <a href="#/ver_recetario" class="ly5_back">
    <span>Atr&aacute;s</span>
  </a>
  
  <div class="row">
    <div class="col-xs-12 ly5_name">
      <span>THAI LEMONADE</span>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
        <h3>Ingredientes:</h3>
        <p>
          Frutillas, ar&aacute;ndanos, vodka
          Stolichnaya y N&eacute;ctar Watt's
          Selecci&oacute;n sabor Guayaba.
        </p>
        <h3>Preparaci&oacute;n</h3>
        <p>
          Macerar 30 gramos de frutilla
          en un vaso largo.
          Verter algunos ar&aacute;ndanos.
          Agregar 30ml de vodka Stolichnaya.
          Rellenar con N&eacute;ctar Watt's
          Selecci&oacute;n sabor Guayaba.
        </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <a data-ng-href="#">
        <span>Compartir en facebook</span>
      </a>
      <img data-ng-src="assets/images/fthai.png"/>
    </div>
  </div>
  
</div>