<div class="container ly_recipe_container">
  <div class="row">
    <div class="col-xs-12 ly_recipe_name">
      <a href="#/ver_recetario">
        <img data-ng-src="assets/images/{{images.size}}/title_{{recipe.name}}_{{images.size}}.png" />
      </a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-8 center-block ly_recipe_description">
        <h3>Ingredientes:</h3>
        <p>
        Lim&oacute;n de pica, kiwi, vodka Stolichnaya y N&eacute;ctar Watt's selecci&oacute; sabor Mango Maracuy&aacute;.
        </p>
        <h3>Presentaci&oacute;n:</h3>
        <p>
        Macerar 30 gramos de lim&oacute;n de pica en un vaso largo.
        Verter trozos de kiwi.
        Agregar 30ml de vodka Stolichnaya.
        Rellenar con N&eacute;ctar Watt's selecci&oacute;n sabor Mango Maracuy&aacute;.
        </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 ly_recipe_bottom">
      <a target="_blank" data-ng-href="#" class="ly_recipe_fb_share" data-facebook-share data-title="El sabor más exótico de Yellow Bahía" data-summary="Imagina la mejor selección de mango y maracuyá de un néctar Watts, en una deliciosa mezcla con el mejor Vodka Stoli. ¿Quieres saber como prepararlo? Ingresa en www.unamezcladeselección.cl y descarga la mejor aplicación para refrescar este verano." data-image="http://ssl.nsclick.cl/wattsstoli/assets/greco_ras_facebook.png" data-url="http://unamezcladeseleccion.cl/">
        <img data-ng-src="assets/images/{{images.size}}/btn_facebook_share_{{images.size}}.png" />
      </a>
      <img class="ly_recipe_juice" data-ng-src="assets/images/{{images.size}}/juice_{{recipe.juice}}_{{recipe.name}}_{{images.size}}.png" />
      <img class="ly_recipe_drink" data-ng-src="assets/images/{{images.size}}/cocktail_{{recipe.name}}_{{images.size}}.png"/>
    </div>
  </div>
  
</div>