/*********************************************************
 * WATTS Stylesheet
 *
 *********************************************************/
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
	background-color: #090909 !important;
	background-image: url("../images/640/map_640.png");
  background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center 105px !important;
	margin: 0;
	padding: 0;
  color: #fff;
  font-size: 12px;
  font-size: 1.2rem;
}

.container {
  max-width: 480px;
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/*************************************************************
 * Common
 *************************************************************/
.centered_view {
  text-align: center;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
}

.logo_header_lg,
.logo_header_sm {
  margin: 20px auto;
  display: block;
  text-align: center;
}

.ly_top_back {
  position: absolute;
  top: 10px;
  left: 10px;
}

.hidden {
  display: none;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

ul.list_unstyled {
  list-style: none;
}

* {
  tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  
  padding: 0px;
  margin: 0px;
}

input:focus, textarea:focus {
  outline: none;
}

img {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

/*************************************************************
 * Validar Edad
 *************************************************************/
.ly_age_validate_message {
  margin: 20px auto;
  font-size: 22px;
  font-size: 2.2rem;
}

.ly_age_validate_age {
  background-color: #f0cf4e;
  border: none;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  padding: 6px 0px;
}

.ly_age_validate_age_cb_title.remember {
  margin-top: 10px;
}

.ly_age_validate_age_cb_title {
  font-size: 16px;
  font-size: 1.6rem;
  width: 178px;
  display: inline-block;
  margin-left: 40px;
  text-align: left;
}

.ly_age_validate_age_cb_box {
  position: absolute;
  display: inline-block;
  background-color: #fff;
  width: 40px;
  height: 40px;
  left: 44px;
}

.ly_age_validate_age_cb_box:after {
  content: '';
	position: absolute;
  left: 10px;
  top: 10px;
	width: 20px;
	height: 20px;
  background-color: #00a800;
  box-shadow: inset 0px 0px 2px 2px #777;
  
  /*-webkit-transition: background-color .5s, box-shadow .5s;
  -moz-transition: background-color .5s, box-shadow .5s;
  -ms-transition: background-color .5s, box-shadow .5s;
  transition: background-color .5s, box-shadow .5s;*/
}

.ly_age_validate_box_label.active .ly_age_validate_age_cb_box:after {
  background-color: #2cd02c;
  box-shadow: 0px 0px 2px 2px #ddd;
}

.ly_age_validate_submit {
  margin-top: 30px;
}

/*************************************************************
 * Intro App
 *************************************************************/
.ly_intro_button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ly_intro_responsable {
  font-size: 18px;
  font-size: 1.8rem;
  color: #fff;
  font-weight: bold;
}

/*************************************************************
 * Ver Recetario
 *************************************************************/
.ly_recipes_title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ly_recipes_title a {
  display: block;
}

/*************************************************************
 * Author
 *************************************************************/
.ly_author_top {
  
}

.ly_author_top  img,
.ly_author_description img {
  width: 100%;
}

.ly_author_description  {
  padding-bottom: 20px;
}

/*************************************************************
 * Receta
 *************************************************************/
.ly_recipe_description {
  width: 240px;
  margin: 0 auto;
  text-align: left;
}

.ly_recipe_description h3 {
  margin-top: 10px;
}

.ly_recipe_bottom {
  position: relative;
  padding-top: 60px;
}

.ly_recipe_juice {
  position: relative;
  top: -50px;
  left: 60px;
}

.ly_recipe_drink {
  position: absolute;
  left: 0px;
}

.ly_recipe_share {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/*************************************************************
 * Go Fiesta Envio
 *************************************************************/
.ly_party_send_message {
  margin: 20px auto;
}

.ly_party_send_ok {
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
}

.ly_party_send_message p {
  font-size: 16px;
  font-size: 1.6rem;
}

/*************************************************************
 * Mis Fiestas
 *************************************************************/
.ly_parties_table {
  display: table;
  width: 280px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: #000;
  border-spacing: 2px 2px;
  border-collapse: separate;
}

.ly_parties_table_row {
  display: table-row;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.ly_parties_table_col {
  display: table-cell;
  border-bottom: 5px solid rgba(0,0,0,0);
}

.ly_parties_name {
  width: 190px;
  background-color: #fff;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
  padding-left: 10px;
}

.ly_parties_go {
  width: 75px;
  background-color: #fff;
  vertical-align: middle;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
}

.ly_parties_back {
  margin-top: 30px;
}

/*************************************************************
 * Detalle Fiesta
 *************************************************************/
.ly_party_name {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  color: #000;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
  vertical-align: middle;
  margin-top: 20px;
}

.ly_party_table {
  display: table;
  width: 280px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: #000;
  border-spacing: 2px 2px;
  border-collapse: separate;
}

.ly_party_table_row {
  display: table-row;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.ly_party_table_col {
 display: table-cell;
}

.ly_party_ig_name {
  width: 190px;
  background-color: #fff;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
  padding-left: 10px;
}

.ly_party_ig_qty {
  width: 75px;
  background-color: #fff;
  vertical-align: middle;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
}

.ly_party_back {
  background-color: #dc9600;
  color: #000;
  font-size: 22px;
  font-size: 2.2rem;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  vertical-align: middle;
  margin-top: 10px;
  padding: 10px 0px;
}

.ly_party_back a {
  color: #000;
}

.ly_party_back .icon {
  top: 4px;
  position: relative;
}

/*************************************************************
 * Armar Fiesta
 *************************************************************/
.ly_create_box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ly_create_party_drink_box {
  padding-top: 60px;
}

.ly_create_party_drink_title {
  
}

.ly_create_party_back {
  z-index: 1000;
  position: absolute;
  display: inline-block;
  left: 10px;
  top: 10px;
}

.ly_create_party_arrow>img {
  position: relative;
  top: 150px;
}

.ly_create_party_drink_add {
  position: absolute;
  bottom: 15px;
  right: 50px;
}

.ly_create_party_arrow.left>img{
  left: -10px;
}

.ly_create_party_arrow.right>img {
  right: -10px;
}

.ly_create_party_table {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
}

.ly_create_party_table_row {
}

.ly_create_party_table_col {
  
}

.ly_create_party_qty {
  background-color: #e5b547;
  width: 50%;
  text-align: center;
  color: #000;
}

.ly_create_party_check {
  background-color: #dc9600;
  width: 50%;
}

.ly_create_party_go {
  background-color: #cb6018;
}

.ly_create_party_qty a,
.ly_create_party_check a,
.ly_create_party_go a {
  color: #000;
  display: block;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}

.ly_create_party_go .icon {
  position: relative;
  top: 4px;
}


/*************************************************************
 * Carousel
 *************************************************************/
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control.left {
  background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0%), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0%), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}

/*************************************************************
 * Fonts
 *************************************************************/
.text_msg_1 {
  
}