/*********************************************************
 * Animations
 *********************************************************/

/* slide-animation */
.slide-animation {
  
}

.slide-animation.ng-enter, 
.slide-animation.ng-leave
{ 
  -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
 
.slide-animation.ng-enter {
  left: 100%;
}
.slide-animation.ng-enter.ng-enter-active {
  left: 0;
}
 
.slide-animation.ng-leave {
  left: 0;
}
.slide-animation.ng-leave.ng-leave-active{
  left: -100%;
}


/**
 * Carousel
 */
/*
.carousel-item-ng-enter,
.carousel-item-ng-leave,
.caoursel-item.ng-move {
  -webkit-transition: .6s ease-in-out left;
  -moz-transition: .6s ease-in-out left;
  -o-transition: .6s ease-in-out left;
  -ms-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left;
}

.carousel-item.ng-enter {
  left: 100%;
}

.carousel-item.ng-enter.ng-enter-active,
.carousel-item.ng-move.ng-move-active {
  left: 0%;
}

.carousel-item.ng-leave {
  left: -100%;
}*/