body{
	background-color: #090909 !important;
	background-image: url("images/mapa.png");
	background-repeat: no-repeat;
	background-position: center 105px !important;
	background-size: 320px auto;
	text-align:center;
	margin: 0;
	padding: 0;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
} 

img{
	height: auto;
}

img.hd{
	max-width: 320px; 
}

img.txt{
	max-width: 238px; 
}

img.logowatts{
	max-width: 88px; 
}

img.menulink{
	max-width: 178px; 
}
