/*********************************************************
 * WATTS Stylesheet
 *
 *********************************************************/
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
	background-color: #090909 !important;
	background-image: url("../images/640/map_640.png");
  background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center 105px !important;
	margin: 0;
	padding: 0;
  color: #fff;
  font-size: 12px;
  font-size: 1.2rem;
}

/********************************************
 * Bootstrap Overriding
 ********************************************/
.container {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.col-xs-6.center-block {
  margin-left: 25%;
}

.col-xs-8.center-block {
  margin-left: 16%;
}

/********************************************
 * Miscelaneous
 ********************************************/
* {
  tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

input:focus, textarea:focus {
  outline: none;
}

img {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

/*********************************************************
 * Validar Edad
 *********************************************************/
.margin_top_42 {
  margin-top: 42px;
}

.margin_top_20 {
  margin-top: 20px;
}

.age_input {
  height: 50px;
  height: 5rem;
  background-color: #c7be3d;
  border: 1px solid #f7ec44;
  font-size: 30px;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: #000;
}

.ly1_message {
  text-align: center;
  font-size: 30px;
  font-size: 3rem;
}

.age_cb {
  display: table !important;
  font-size: 18px;
  font-size: 1.8rem;
}

.age_cb_title {
  position: relative;
  top: -18px;
  padding-left: 20px;
  display: table-cell;
}

.age_cb_box {
  position: relative;
  display: inline-block;
  background-color: #fff;
  width: 40px;
  height: 40px;
}

.age_cb_box:after {
  content: '';
	position: absolute;
  left: 10px;
  top: 10px;
	width: 20px;
	height: 20px;
  background-color: #00a800;
  box-shadow: inset 0px 0px 2px 2px #777;
  
  /*-webkit-transition: background-color .5s, box-shadow .5s;
  -moz-transition: background-color .5s, box-shadow .5s;
  -ms-transition: background-color .5s, box-shadow .5s;
  transition: background-color .5s, box-shadow .5s;*/
}

.age_cb.active .age_cb_box:after {
  background-color: #2cd02c;
  box-shadow: 0px 0px 2px 2px #ddd;
}

/*********************************************************
 * Intro App
 *********************************************************/
.ly_intro_message {
  margin-top: 70px;
  margin-bottom: 70px;
}

.ly_intro_button {
  margin-top: 50px;
}

/*********************************************************
 * Recetas
 *********************************************************/
.ly_recipes_back {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 2;
}
 
.ly_recipes_button {
  margin-top: 30px;
}

/*********************************************************
 * Ver Receta
 *********************************************************/
.ly_recipe_name {
  margin-left:  0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  z-index: 1;
}

.ly_recipe_name img {
  width: 100%;
}

.ly_recipe_back {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 2;
}

.ly_recipe_description {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ly_recipe_description h3 {
  font-size: 20px;
  font-size: 2rem;
}

.ly_recipe_description p {
  font-size: 14px;
  font-size: 1.4rem;
}

.ly_recipe_bottom {
  margin-top: 50px;
}

.ly_recipe_juice {
  position: absolute;
  right: 30px;
  bottom: 150px;
}

.ly_recipe_fb_share {
  position: absolute;
  right: 30px;
  bottom: 60px;
}

/*********************************************************
 * Author
 *********************************************************/
.ly_author_author {
  margin: 0;
  padding: 0;
}

.ly_author_description {
  margin: 0;
  padding: 0;
}

/*********************************************************
 * Go Fiesta Envío
 *********************************************************/
.ly_party_send_back {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 2;
}

.ly_party_send_header {
  margin-bottom: 40px;
}
 
.ly_party_send_ok {
  font-size: 80px;
  font-size: 8rem;
}

.ly_party_send_message p {
  font-size: 30px;
  font-size: 3rem;
  margin-bottom: 60px;
}

.ly_party_send_button {
  margin-top: 30px;
}

/*********************************************************
 * Mis Fiestas
 *********************************************************/
.ly_parties_title {
  margin-top: 60px;
  margin-bottom: 40px;
}

.ly_parties_table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.ly_parties_name {
  background-color: #fff;
  color: #000;
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: bold;
  padding-left: 50px;
  margin-top: 4px;
}

.ly_parties_go {
  
}

.ly_parties_back {
  margin-top: 50px;
}

/*********************************************************
 * Detalle Fiesta
 *********************************************************/
.ly_party_title {
  margin-top: 60px;
  margin-bottom: 40px;
}

.ly_party_table  {
  border-collapse: separate;
  border-spacing: 10px 10px;
}


.ly_party_name {
  background-color: #fff;
  color: #000;
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: bold;
  padding-left: 50px;
}

.ly_party_ingredient_name {
  background-color: #d8d9dd;
  color: #000;
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: bold;
  padding-left: 50px;
  margin-top: 4px;
}

.ly_party_ingredient_units {
  background-color: #d8d9dd;
  color: #000;
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
}

.ly_party_back {
  color: #000;
  background-color: #dc9600;
  font-size: 40px;
  font-size: 4rem;
  font-weight: bold;
}

.ly_party_back a {
  color: #000;
  display: block;
}

.ly_party_back .icon {
  position: relative;
  top: 4px;
}

/*********************************************************
 * Armar Fiesta
 *********************************************************/
.ly_create_party_back {
  z-index: 1000;
  position: relative;
}

.ly_create_party_arrow>img {
  position: relative;
  top: 300px;
}

.ly_create_party_drink_add {
  position: absolute;
  bottom: 30px;
  right: 100px;
}

.ly_create_party_arrow.left {
  left: -20px;
}

.ly_create_party_arrow.right {
  right: -20px;
}

.ly_create_party_table {
  border-spacing: 10px;
  border-collapse: separate;
}

.ly_create_party_go,
.ly_create_party_go a,
.ly_create_party_ver,
.ly_create_party_ver a,
.ly_create_party_check,
.ly_create_party_check a,
.ly_create_party_qty,
.ly_create_party_qty a {
  font-size: 30px;
  font-size: 3rem;
  color: #000;
}

.ly_create_party_ver {
  background-color: #f0cf4e;
}

.ly_create_party_go {
  background-color: #cb6018;
}

.ly_create_party_check {
  background-color: #dc9600;
}

.ly_create_party_qty {
  background-color: #e5b547;
}

/*********************************************************
 * Check Fiesta
 *********************************************************/
.ly_check_party_back {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 2;
}

.ly_check_party_table {
  color: #000;
}

.ly_check_party_table_head {
  margin-bottom: 5px;
}

.ly_check_party_table_head_cell {
  background-color: #e5b547;
  color: #000;
  font-size: 30px;
  font-size: 3rem;
  font-weight: bold;
}

.ly_check_party_table_head_cell_s {
  background-color: #e5b547;
  color: #000;
  font-size: 30px;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 5px;
}

.ly_check_party_drink {
  position: relative;
}

.ly_check_party_drink_name {
  padding: 0px;
  margin-left: 0px;
  margin-right: 5px;
}

.ly_check_party_drink_name,
.ly_check_party_drink_qty {
  border: 1px solid #e5b547;
  background-color: #fff;
  font-size: 30px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.ly_check_party_remove {
  padding: 0px;
  position: relative;
  top: 10px;
  top: 1rem;
}

.ly_check_party_go {
  display: block;
  margin-top: 200px;
  background-color: #dc9600;
  color: #000;
  font-size: 30px;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.ly_check_party_go .icon {
  position: relative;
  top: 3px;
}

/*********************************************************
 * Go Fiesta
 *********************************************************/

.ly_go_party_ingredient_group {
  margin-top: 50px;
} 

.ly_go_party_ig_name,
.ly_go_party_ig_units {
  border: 1px solid #e5b547;
  background-color: #fff;
  font-size: 30px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #000;
}
 
.ly_go_party_ig_name {
  
}

.ly_go_party_name {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  font-size: 3rem;
}

.ly_go_party_name input {
  height: 50px;
  font-size: 30px;
  font-size: 3rem;
}

.ly_go_party_save {
  position: relative;
  background-color: #cb6018;
  color: #000;
  font-size: 30px;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.ly_go_party_save button {
  font-weight: bold;
}

.ly_go_party_save .icon {
  position: relative;
  top: 4px;
}

/*********************************************************
 * FLAT
 *********************************************************/
.flat {
  border-radius: 0px;
}
 
img{
	height: auto;
}

img.hd{
	max-width: 320px; 
}

img.txt{
	max-width: 238px; 
}

img.logowatts{
	max-width: 88px; 
}

img.menulink{
	max-width: 178px; 
}