/******************************************************************
 * Layout
 ******************************************************************/

html, body {
  font-size: 62.5%;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-size: 1.2rem;
}

/********************************************
 * Bootstrap Overriding
 ********************************************/
.container {
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}